/* ========================= Google Fonts ========================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone");
/* ========================= Global Css ========================= */
:root {
  --body-color: #f9fafb;
  --icon-color: #036666;
  --text-color: #626c83;
  --label-color: #40444c;
  --backg-input: #fafcfc;
  --trans-03: 0.3s linear;
  --width-sidebar-close: 60px;
  --width-sidebar-open: 280px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--body-color);
}
a {
  text-decoration: none;
}
/* ====================== Sidebar ====================== */
.sidebar {
  background: white;
  position: fixed;
  left: 0px;
  top: 0px;
  width: var(--width-sidebar-close);
  height: 100vh;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #f1f3f9;
  transition: var(--trans-03);
  z-index: 1;
}
.sidebar.active {
  width: var(--width-sidebar-open);
}
.navigation-header {
  margin-bottom: 1.5rem;
}
.navigation-header .icon {
  width: 100%;
  max-width: 60px;
}
.navigation-menu .link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  transition: var(--trans-03);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #6b7084;
}
.navigation-menu .link.active,
.navigation-menu .link:hover,
.navigation-menu .link.active .icon path,
.navigation-menu .link:hover .icon path {
  background: var(--body-color);
  color: var(--icon-color);
  stroke: var(--icon-color);
}
.sidebar .text {
  opacity: 0;
  overflow: hidden;
  transition: 0.25s linear;
  white-space: nowrap;
}
.sidebar.active .text {
  opacity: 1;
  overflow: visibility;
}
.sidebar .link i {
  display: flex;
}
button.link {
  border: none;
  display: block;
  width: 100%;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #6b7084;
  font-family: "Inter";
}
.arow-sidebar {
  background: white;
  border: none;
  position: absolute;
  top: 20px;
  right: -1.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.arow-sidebar:hover .icon path {
  stroke: var(--icon-color);
}
.sidebar-footer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  overflow: hidden;
}
.person {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: var(--trans-03);
}
.footer-info h4,
.footer-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-footer .footer-info h4 {
  margin-bottom: 0.5rem;
}
/* ====================== main section ====================== */
.main-section {
  position: relative;
  left: var(--width-sidebar-close);
  width: calc(100% - var(--width-sidebar-close));
  background: var(--body-color);
  padding: 3rem 2rem 1rem;
  height: 100vh;
  transition: var(--trans-03);
}
.main-section.active {
  left: var(--width-sidebar-open);
  width: calc(100% - var(--width-sidebar-open));
}
@media (max-width: 768px) {
  .sidebar.active {
    width: var(--width-sidebar-close);
  }
  .main-section.active {
    left: var(--width-sidebar-close);
    width: calc(100% - var(--width-sidebar-close));
  }
  .sidebar.active .text {
    opacity: 0;
    overflow: hidden;
  }
  .arow-sidebar {
    display: none;
  }
  .sidebar-footer .footer-info {
    display: none;
  }
  .main-section {
    padding: 1rem;
  }
}
/* ====================== Chatbot Page ====================== */
.chatbot h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 41.6px;
  color: #40444c;
  transition: var(--trans-03);
}
.chatbot > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #626c83;
  transition: var(--trans-03);
}
.chatbot .input-question {
  padding: 2rem 1.5rem 1rem 1.5rem;
  position: relative;
  transition: var(--trans-03);
}
.input-question .question-img {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 35px;
  top: -10px;
  border-radius: 0.25rem;
}
.chatbot .input-question .icon {
  /* left: 35px; */
  right: 35px;
  position: absolute;
  top: 43px;
  transition: var(--trans-03);
}
.container-upload-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 65px;
  cursor: pointer;
  top: 43px;
  overflow: hidden;
  cursor: pointer;
}
.container-upload-icon input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
  z-index: 1;
}
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.chatbot .input-question .icon.active {
  cursor: pointer;
}
.chatbot .input-question .icon path {
  transition: var(--trans-03);
}
.chatbot .input-question .icon rect {
  transition: var(--trans-03);
}

/* .chatbot .input-question .input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 10px 14px 10px 38px;
  background: #ffffff;
  outline-color: #d9d9d9;
  font-size: 1rem;
} */
.chatbot .input-question .input {
  width: 100%;
  height: 47px;
  max-height: 160px;
  /* padding: 10px 14px 10px 38px; */
  padding: 10px 60px 10px 14px;
  border-radius: 8px;
  font-family: "inter";
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  resize: none; /* Disable resizing */
  outline-color: #d9d9d9;
}

.chatbot .input-question .input::placeholder {
  color: #a3a7b5;
  font-weight: 400;
  line-height: 24px;
  font-size: 1rem;
  transition: 0.2s linear;
}
.chatbot .input-question .input:focus::placeholder {
  opacity: 0;
}
/* .chatbot .input-question .input:focus + .icon.active path,
.chatbot .input-question .icon.active:hover path {
  stroke: var(--icon-color);
} */
/* .chatbot .input-question .icon.active path {
  stroke: var(--icon-color);
} */
.chatbot .input-question .icon.active rect {
  fill: var(--icon-color);
}
.warning {
  border: 12px;
  background: #fff6e6;
  padding: 0px 0.5rem;
  display: flex;
  column-gap: 10px;
  align-items: center;
  transition: var(--trans-03);
}
.warning span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffa800;
}
.chatbot .chatbot-box {
  height: calc((100vh - 4rem) - 42px - 27px - 32px - 105px);
  max-height: 700px;
  border-radius: 1rem;
  border: 1px solid #f1f3f9;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  background: #ffffff;
  padding: 0 1rem 1rem;
  overflow-y: auto;
  transition: var(--trans-03);
}
.chatbot .chatbot-box::-webkit-scrollbar {
  height: 1rem;
  width: 0.45rem;
}
.chatbot .chatbot-box::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 89%, 0.8);
  border-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  border-width: 1px;
}
.chatbot .chatbot-box::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
.chatbot .chatbot-box .answer-content {
  width: 100%;
  overflow: auto;
  font-weight: 500;
  line-height: 24px;
  color: rgba(50, 52, 61, 1);
}
.chatbot .chatbot-box .question {
  color: black;
  border-radius: 1rem;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  column-gap: 12px;
  transition: var(--trans-03);
}
.chatbot .chatbot-box .answer {
  position: relative;
  border-radius: 1rem;
  padding: 24px;
  background: rgba(249, 250, 251, 1);
  transition: var(--trans-03);
}
.chatbot .chatbot-box .answer > i {
  position: absolute;
  left: 15px;
  bottom: 5px;
  /* position: relative; */
}
.chatbot .chatbot-box .answer > i .icon {
  cursor: pointer;
}
.chatbot .chatbot-box .answer > i .show-copy {
  opacity: 0;
  width: 61px;
  max-width: 61px;
  visibility: hidden;
  position: absolute;
  top: 28px;
  font-size: 0.75rem;
  text-align: center;
  left: -22px;
  background: black;
  color: white;
  padding: 5px 10px;
  transition: 0.3s linear;
  border-radius: 0.5rem;
  font-style: normal;
}
.chatbot .chatbot-box .answer > i .show-copy::before {
  content: "";
  position: absolute;
  /* bottom: 34px; */
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid;
  border-color: transparent transparent black transparent;
}
.chatbot .chatbot-box .answer > i:hover .show-copy {
  visibility: visible;
  opacity: 1;
}
.chatbot .answer .answer-box {
  display: flex;
  align-items: start;
  column-gap: 12px;
  margin-bottom: 6px;
}
.chatbot .answer .answer-box .icon {
  width: 40px;
  height: 40px;
  transition: var(--trans-03);
}
.chatbot .answer .answer-box .icon path {
  stroke: var(--icon-color);
}
.loader {
  margin-left: 24px;
  margin-top: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e6f0f0;
  box-shadow: -24px 0 #e6f0f0, 24px 0 #e6f0f0;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}
@keyframes shadowPulse {
  33% {
    background: #e6f0f0;
    box-shadow: -24px 0 #036666, 24px 0 #e6f0f0;
  }
  66% {
    background: #036666;
    box-shadow: -24px 0 #e6f0f0, 24px 0 #e6f0f0;
  }
  100% {
    background: #e6f0f0;
    box-shadow: -24px 0 #e6f0f0, 24px 0 #036666;
  }
}
.code {
  font-size: 14px;
  overflow: auto;
  background: rgba(13, 13, 13, 1);
  display: block;
  color: white;
  border-radius: 0.375rem;
  padding: 0.5rem;
  tab-size: 4;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
}
.pre-code {
  font-family: "inter";
  text-wrap: wrap;
}

@media (max-width: 480px) {
  .warning {
    align-items: flex-start;
  }
}
@media (max-width: 560px) {
  .chatbot h2 {
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 0.6rem;
  }
  .chatbot p {
    font-size: 14px;
    line-height: normal;
  }
  .chatbot .input-question {
    padding: 2rem 0.5rem;
  }
  .chatbot .input-question .icon {
    right: 20px;
  }
  .container-upload-icon {
    right: 50px;
  }
  .chatbot .input-question .input {
    padding-right: 55px;
  }
  .chatbot .chatbot-box .question,
  .chatbot .chatbot-box .answer {
    border-radius: 8px;
    padding: 0.5rem;
  }
  .chatbot .answer .answer-box .icon,
  .question .icon {
    width: 30px;
  }
}

@media (max-width: 768px) {
  .chatbot .chatbot-box {
    height: calc((100vh - 4rem) - 42px - 27px - 105px);
  }
  .pre-code {
    min-width: 450px;
  }
}
/* ====================== Login Page ====================== */
.login {
  display: grid;
  place-content: center;
  height: 100vh;
}
.login-box {
  background: white;
  padding: 0px 32px;
  place-content: center;
  height: 88vh;
  border-radius: 1rem;
  width: 90vw;
  max-width: 576px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0 rgba(16, 24, 40, 0.1);
  max-height: 729px;
  transition: var(--trans-03);
}
.header-login {
  text-align: center;
  margin-bottom: 2rem;
}
.header-login .icon {
  width: 110px;
  height: 110px;
}
.header-login h1 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  line-height: 41.6px;
}
.header-login p {
  color: var(--text-color);
  line-height: 24px;
}
.header-login .invaild-mes {
  margin-top: 0.5rem;
  background: #fff6e6;
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffa800;
  font-size: 1rem;
}
.login-box form {
  display: flex;
  flex-direction: column;
}
.login-box form label:first-child {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.login-box form label {
  color: var(--label-color);
  font-weight: 500;
  line-height: 24px;
  font-size: 1rem;
  margin: 0.5rem 0;
  position: relative;
}
.login-box form input {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid #d9d9d9;
  padding: 0.75rem 1rem;
  display: block;
  background: var(--backg-input);
  outline-color: #d9d9d9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.login-box form input::placeholder {
  color: #6b7084;
  font-weight: 500;
  line-height: 24px;
  font-size: 1rem;
  transition: 0.2s linear;
}
.login-box form input:focus::placeholder {
  opacity: 0;
}
.login-box form label .icon {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  cursor: pointer;
}
.mes-error {
  color: red;
  font-weight: 500;
  line-height: 21px;
  font-size: 14px;
}
.mes-error.pass {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
.login-box form .text-account {
  font-weight: 500;
  line-height: 21px;
  color: #32343d;
}
.login-box form .text-account a {
  color: var(--icon-color);
  text-decoration: underline;
}
.login-box form .submit {
  margin-top: 2rem;
  border-radius: 0.75rem;
  padding: 1rem 1.75rem;
  background: var(--icon-color);
  border: none;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
  display: grid;
  place-content: center;
}
/* ====================== sign up ====================== */
.sign-up.login {
  margin: 2rem 0;
  height: auto;
}
.sign-up .login-box {
  padding: 1rem 2rem;
  height: 100%;
  max-height: 100%;
  place-content: normal;
}
@media (max-width: 540px) {
  .login-box,
  .sign-up .login-box {
    padding: 1rem;
  }
}
/* ====================== Loading ====================== */
.center-loading {
  display: grid;
  place-content: center;
  height: 70vh;
}
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pencil {
  display: block;
  width: 10em;
  height: 10em;
}
.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pencil__body1,
.pencil__body2,
.pencil__body3 {
  transform: rotate(-90deg);
}
.pencil__body1 {
  animation-name: pencilBody1;
}
.pencil__body2 {
  animation-name: pencilBody2;
}
.pencil__body3 {
  animation-name: pencilBody3;
}
.pencil__eraser {
  animation-name: pencilEraser;
  transform: rotate(-90deg) translate(49px, 0);
}
.pencil__eraser-skew {
  animation-name: pencilEraserSkew;
  animation-timing-function: ease-in-out;
}
.pencil__point {
  animation-name: pencilPoint;
  transform: rotate(-90deg) translate(49px, -30px);
}
.pencil__rotate {
  animation-name: pencilRotate;
}

.pencil__stroke {
  animation-name: pencilStroke;
  transform: translate(100px, 100px) rotate(-113deg);
}
/* Animations */
@keyframes pencilBody1 {
  from,
  to {
    stroke-dashoffset: 351.86;
    transform: rotate(-90deg);
  }
  50% {
    stroke-dashoffset: 150.8;
    /* 3/8 of diameter */
    transform: rotate(-225deg);
  }
}
@keyframes pencilBody2 {
  from,
  to {
    stroke-dashoffset: 406.84;
    transform: rotate(-90deg);
  }
  50% {
    stroke-dashoffset: 174.36;
    transform: rotate(-225deg);
  }
}
@keyframes pencilBody3 {
  from,
  to {
    stroke-dashoffset: 296.88;
    transform: rotate(-90deg);
  }
  50% {
    stroke-dashoffset: 127.23;
    transform: rotate(-225deg);
  }
}
@keyframes pencilEraser {
  from,
  to {
    transform: rotate(-45deg) translate(49px, 0);
  }
  50% {
    transform: rotate(0deg) translate(49px, 0);
  }
}
@keyframes pencilEraserSkew {
  from,
  32.5%,
  67.5%,
  to {
    transform: skewX(0);
  }
  35%,
  65% {
    transform: skewX(-4deg);
  }
  37.5%,
  62.5% {
    transform: skewX(8deg);
  }
  40%,
  45%,
  50%,
  55%,
  60% {
    transform: skewX(-15deg);
  }
  42.5%,
  47.5%,
  52.5%,
  57.5% {
    transform: skewX(15deg);
  }
}
@keyframes pencilPoint {
  from,
  to {
    transform: rotate(-90deg) translate(49px, -30px);
  }
  50% {
    transform: rotate(-225deg) translate(49px, -30px);
  }
}
@keyframes pencilRotate {
  from {
    transform: translate(100px, 100px) rotate(0);
  }
  to {
    transform: translate(100px, 100px) rotate(720deg);
  }
}
@keyframes pencilStroke {
  from {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(-113deg);
  }
  50% {
    stroke-dashoffset: 164.93;
    transform: translate(100px, 100px) rotate(-113deg);
  }
  75%,
  to {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(112deg);
  }
}

/* Test dropDownList */
.title {
  margin-bottom: 0.5rem;
}
.dropdown {
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  width: 100%;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #32343d;
  transition: var(--trans-03);
}
.input-box {
  background: white;
  outline: 0.3mm solid #e2e6ee;
  border-radius: 12px;
  padding: 12px 16px;
  height: 48px;
  width: 100%;
  font-family: "inter";
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.input-box::before {
  content: "expand_more";
  font-family: "Material Icons";
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: fit-content;
  height: fit-content;
}
.input-box.open::before {
  content: "expand_less";
}
.input-box:empty::after {
  content: "Select Title";
  color: rgba(0, 0, 0, 0.5);
}

.open {
  outline: 0.7mm solid #036666;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: fit-content;
  background: white;
  margin-top: 10px;
  border-radius: 2mm;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  max-height: 0;
  transition: 0.25s ease-out;
  z-index: 1;
}
.list input {
  display: none;
}
.dropdown .list label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-family: "inter";
  font-size: 1rem;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.dropdown .list label:hover {
  background: #f9fafb;
}
.dropdown input:checked + label {
  color: #036666;
  background: #f9fafb;
}
.dropdown input:checked + label::before {
  content: "done";
  font-family: "Material Icons";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 18px;
  color: #036666;
}

/* ==================== Alert pop ===================== */
div:where(.swal2-container) h2:where(.swal2-title) {
  color: #f46c7c;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  width: 200px;
  background-color: var(--icon-color);
  padding: 8px 14px;
  font-size: 1rem;
  font-family: "inter";
  height: 40px;
  border-radius: 12px;
}

/* ==================== Not Found Page ===================== */
.not-found-page {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
  font-family: "inter";
}
.not-found-page h1 {
  font-size: 6rem;
}
.not-found-page h2 {
  margin-bottom: 2rem;
}
.not-found-page p {
}
.not-found-page p a {
}
