::-webkit-scrollbar {
  height: 0.55rem;
  width: 0.45rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-color: var(--sidebar-bg);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-corner {
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

.div-tittle {
  margin-bottom: 1rem;
}

.min-tittle {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--text-color);
  transition: var(--trans-03);
}

.tittle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 41.6px;
  color: var(--chat-text);
  transition: var(--trans-03);
}

/* ------------------------------------------------------------------------------------ */

.adding {
  border-radius: 18px;
  border: 1px solid var(--gba-border);
  padding: 32px;
  transition: 0.3s linear;
}

.add-tittle {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  max-height: 24px;
  line-height: 24px;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}

.add-task {
  display: flex;
  align-items: center;
  transition: var(--trans-03);
}

.value-input {
  flex: 1;
  border: 1px solid var(--mode-active-border);
  background-color: var(--chat-bg);
  outline: none;
  border-radius: 12px;
  padding: 12px 16px;
  height: 48px;
  transition: 0.2s linear;
  color: var(--sidebar-text);
}

.error-input {
  border: 1px solid #ef233c;
  outline-color: #ef233c;
}

.value-input::placeholder {
  color: #a3a7b5;
  font-weight: 400;
  line-height: 24px;
  font-size: 1rem;
  transition: 0.2s linear;
}

.value-input:focus::placeholder {
  opacity: 0;
}

.btn-add {
  width: 108px;
  max-height: 40px;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 500;
  line-height: 24px;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: #036666;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-inline-start: 2rem;
  transition: 0.3s linear;
}

.btn-add:hover {
  opacity: 0.8;
}

.todo-error {
  position: absolute;
  transition: 0.3s linear;
}

.tasks {
  position: relative;
  /* overflow: auto; */
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.bar-tasks {
  /* min-width: 670px; */
  max-height: 69px;
  padding: 1rem 2.5rem;
  transition: 0.3s linear;
  background: var(--sidebar-bg);
  border-radius: 1rem 1rem 0 0;
}

.btn {
  border: 1px solid var(--mode-active-border);
  border-radius: 12px;
  height: 37px;
  padding: 8px 12px;
  background: var(--body-color);
  cursor: pointer;
  font-weight: 400;
  font-family: "Inter";
  color: var(--subtitle-color);
  line-height: 21px;
  font-size: 14px;
  transition: 0.3s linear;
}

.btn:not(:last-child) {
  margin-inline-end: 1rem;
}

.true-btn,
.btn:hover {
  background-color: #e6f0f0;
  color: #036666;
}

#a {
  background-color: #32343d;
}

.tasks-list {
  /* min-width: 670px; */
  overflow: auto;
  /* 
    1- padding of main: 4rem 
    2- title height: 85px
    3- tasks table margin top: 3rem
    4- adding height : 145px
    5- bar-tasks height : 70px
  */
  max-height: calc((100vh - 4rem) - 85px - 3rem - 70px - 145px);
  border-radius: 0 0 1rem 1rem;
}

.body-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  background: var(--loading-bg);
  position: absolute;
  z-index: 1;
  display: grid;
  place-content: center;
}

.tasks-list .loader {
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  animation: shadowPulse2 2s linear infinite;
}

@keyframes shadowPulse2 {
  33% {
    background: #fff;
    box-shadow: -24px 0 #036666, 24px 0 #fff;
  }

  66% {
    background: #036666;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }

  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #036666;
  }
}

.item {
  display: flex;
  min-width: 670px;

  max-height: 72px;
  padding: 16px 24px;
  column-gap: 0.5rem;
  background: var(--sidebar-bg);
  justify-content: space-between;
  transition: var(--trans-03);
}

.item:nth-child(odd) {
  background-color: var(--body-color);
}

.first-item {
  flex: 1;
}

.first-item,
.sec-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  overflow: hidden;
}

.check-item {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #e2e6ee;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  outline: none;
  position: relative;
}

.check-item:checked:after {
  content: "\2714";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.check-item:hover {
  border: 1px solid #036666;
}

.check-item:checked {
  background: #036666;
  border: 1px solid #036666;
}

.task {
  font-weight: 600;
  line-height: 24px;
  color: var(--subtitle-color);
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.edit,
.trash {
  cursor: pointer;
  transition: var(--trans-03);
}

.edit path,
.trash path {
  cursor: pointer;
  transition: var(--trans-03);
  stroke: var(--icon-stroke);
}

.edit:hover path {
  stroke: #036666;
}

.trash:hover path {
  stroke: #ef233c;
}

@media (max-width: 768px) {
  .btn-add {
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .adding {
    padding: 1rem;
  }

  .value-input {
    width: 100%;
  }

  .todo-error {
    position: relative;
  }

  .to-do-list .add-task {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .to-do-list .btn-add {
    width: 100%;
    margin-left: 0;
  }

  .bar-tasks {
    /* padding: 1rem; */
    padding: 0.5rem;
  }

  .btn {
    padding: 8px;
  }

  .btn:not(:last-child) {
    margin-right: 0.5rem;
  }

  .item {
    padding: 16px 8px;
  }
}

/* ------------------------------------------------------------- */
.back {
  position: fixed;
  backdrop-filter: blur(1px);
  background: var(--back-bg);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.allert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--allert--bg);
  padding: 32px;
  border-radius: 20px;
  max-width: 420px;
  width: 90vw;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
  transition: 0.3s linear;
  text-align: center;
}

.top-allert {
  padding: 16px;
  transition: 0.3s linear;
}

.end-trash {
  display: block;
  margin: auto;
}

.end-trash path {
  stroke: #ef233c;
}

.msg-sure {
  margin-top: 25px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  color: var(--subtitle-color);
  transition: 0.3s linear;
}

.btn-sure {
  width: 168px;
  height: 44px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  padding: 11px 16px;
  background: var(--sidebar-bg);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s linear;
}

.btn-sure.cancel {
  border: 0.5px solid #036666;
  color: #036666;
}

.btn-sure.delete {
  border: 0.5px solid #ef233c;
  color: #ef233c;
}

.btn-sure:not(:last-child) {
  margin-inline-end: 12px;
}

.cancel:hover {
  background: #036666;
  color: #ffffff;
  border: 0.5px solid #036666;
}

.delete:hover {
  background: #ef233c;
  color: #ffffff;
  border: 0.5px solid #ef233c;
}

.container-loader {
  display: flex;
  justify-content: center;
  transform: translateX(-16px);
}

@media (max-width: 480px) {
  .allert {
    padding: 24px 16px;
  }

  .top-allert {
    padding: 0;
  }

  .msg-sure {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .btn-sure:not(:last-child) {
    margin-inline-end: 8px;
  }

  .btn-sure {
    width: 124px;
  }
}